{%extends 'front.html'%}

{%block head%}
<title>Mark flask practise</title>
{%endblock%}

{%block body%}
<h1 class="title">Classic Books</h1>


<section class="list_of_books">
    <div class="booksimagestext">
    <h2>Animal Farm</h2>
    <img src="https://images-na.ssl-images-amazon.com/images/I/91iksTPl0rL.jpg" height="300">
    </div>

    <div class="booksimagestext">
    <h2>Oliver Twist</h2>
    <img src="https://pictures.abebooks.com/SIAMESE1/30338241019_2.jpg"  height="300">
    </div>

    <div class="booksimagestext">
        <h2>The Lord of the Flies</h2>
        <img src="https://images-na.ssl-images-amazon.com/images/I/81Occ2XOOML.jpg" height="300">
    </div>

    <div class="booksimagestext">
        <h2>To kill a mockingbird</h2>
        <img src="https://media.glamour.com/photos/56e1f3c562b398fa64cbd310/master/w_1600%2Cc_limit/entertainment-2016-02-07-main.jpg" height="300">
    </div>

    <div class="booksimagestext">
        <h2>1984</h2>
        <img src="https://images-na.ssl-images-amazon.com/images/I/91SZSW8qSsL.jpg" height="300">
    </div>

    <div class="booksimagestext">
        <h2>Moby Dick</h2>
        <img src="https://m.media-amazon.com/images/I/51lyOfcaA8L.jpg" height="300">
    </div>

</section>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    background-image: url(https://i.pinimg.com/originals/9a/92/1a/9a921a293fbfc06b282d2478a69b97e1.jpg);
}

.title{
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.list_of_books{
    color: #ffffff;
}

.booksimagestext{
    float: left;
    margin: 50px;
    background-size: 100%;
}

</style>
{%endblock%}